* {
    box-sizing: border-box;
}

body {
    font: normal 15pt Tahoma;
}

header, footer {
    color: #fff;
    text-align: center;
}

section {
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 15px #00000094;
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    font-style: italic;
}

#foto img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: 3px solid #000;
}

#cumprimentos {
    font-weight: Bold;
    color: rgb(41, 62, 153);
}